<form>
    <div>
        <div class="flexrow flex-group-center specializationname" data-specname="{{specname}}">
            <label for="specname">{{localize "OD6S.SPECIALIZATION_NAME"}}:</label>
            <input title="{{localize "OD6S.SPECIALIZATION_NAME"}}" name="specname" type="text"
                   value="{{specname}}" id="specname" data-dtype="String"/>
        </div>
    </div>
</form>
