<div class="tab description" data-group="primary" data-tab="description">
    {{#if (eq actor.system.description.label)}}
        <label for="actor.system.description.content" class="resource-label">{{localize actor.system.description.label}}:</label>
    {{else}}
        <label for="actor.system.description.content" class="resource-label">{{localize 'OD6S.DESCRIPTION'}}:</label>
    {{/if}}
    {{ editor actor.system.description.content name=actor.system.description.content target="system.description.content"
              button=true editable=true}}
</div>