<div class="tab data" data-group="primary" data-tab="data">
    <div class="flexrow flex-grou-center">{{localize 'OD6S.ACTOR_ID'}}: {{actor.uuid}}</div>
    <div class="grid grid-2col">
        <div class="flexrow flex-group-left">
            <label for="actor.system.maneuverability.score">{{localize actor.system.maneuverability.label}}:</label>
            <input title="{{localize actor.system.maneuverability.label}}" name="system.maneuverability.score" type="text"
                   value="{{actor.system.maneuverability.score}}" data-dtype="{{actor.system.maneuverability.type}}"/>
        </div>
        <div class="flexrow flex-group-left">
            <label for="actor.system.toughness.score">{{getToughnessName 'vehicle'}}:</label>
            <input title="{{getToughnessName 'vehicle'}}" name="system.toughness.score" type="text"
                   value="{{actor.system.toughness.score}}" data-dtype="{{actor.system.toughness.type}}"/>
        </div>
        <div class="flexrow flex-group-left">
            <label for="actor.system.shields.value">{{localize actor.system.shields.label}}:</label>
            <input title="{{localize actor.system.shields.label}}" name="system.shields.value" type="text"
                   value="{{actor.system.shields.value}}" data-dtype="{{actor.system.shields.type}}"/>
        </div>
        <div class="flexrow flex-group-left">
            <label for="actor.system.price.value">{{localize actor.system.price.label}}:</label>
            <input title="{{localize actor.system.price.label}}" name="system.price.value" type="text"
                   value="{{actor.system.price.value}}" data-dtype="{{actor.system.price.type}}"/>
        </div>
        <div class="flexrow flex-group-left">
            <label for="actor.system.cost.value">{{localize actor.system.cost.label}}:</label>
            <input title="{{localize actor.system.cost.label}}" name="system.cost.value" type="text"
                   value="{{actor.system.cost.value}}" data-dtype="{{actor.system.cost.type}}"/>
        </div>
        {{#if (gt actor.system.shields.value 0)}}
            <div class="flexrow flex-group-left">
                <label for="actor.system.shields.skill.value">{{localize 'OD6S.SHIELDS'}} {{localize 'OD6S.SKILL'}}:</label>
                <input title="{{localize 'OD6S.SHIELDS'}} {{localize 'OD6S.SKILL'}}"
                       name="system.shields.skill.value" type="text"
                       value="{{actor.system.shields.skill.value}}" data-dtype="String"/>
            </div>
        {{/if}}
        <div class="flexrow flex-group-left">
            <label for="actor.system.armor.score">{{localize actor.system.armor.label}}:</label>
            <input title="{{localize actor.system.armor.label}}" name="system.armor.score" type="text"
                   value="{{actor.system.armor.score}}" data-dtype="{{actor.system.armor.type}}"/>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="grid-2col-attributes">
                {{#each actor.system.crewmembers as |crewmember|}}
                    <div class="flexrow flex-group-left">{{crewmember.name}}</div>
                    <div class="flexrow flex-group-center">
                        <a data-crewId="{{crewmember}}"
                           data-vehicleId="{{ ../actor.uuid}}"
                           data-type="crewmember"
                           class="item-control crew-delete small-font"
                           title="{{localize 'OD6S.REMOVE_FROM_VEHICLE'}}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="column">
            {{#if (getSensorsConfig)}}
                <div class="flexrow flex-group-left">
                    <label for="actor.system.sensors.value">{{localize actor.system.sensors.label}}:</label>
                    <input title="{{localize actor.system.sensors.label}}" name="system.sensors.value" type="checkbox"
                           id="actor.system.sensors.value"
                           data-dtype="{{actor.system.sensors.type}}" {{checked actor.system.sensors.value}}/>
                </div>
                {{#if actor.system.sensors.value }}
                    <div class="flexrow flex-group-left">
                        <label for="actor.system.sensors.skill">{{localize 'OD6S.SENSORS'}} {{localize 'OD6S.SKILL'}}
                            :</label>
                        <input title="{{localize 'OD6S.SENSORS'}} {{localize 'OD6S.SKILL'}}"
                               name="system.sensors.skill" type="text"
                               value="{{actor.system.sensors.skill}}" data-dtype="String"/>
                    </div>
                    {{#each actor.system.sensors.types as |sensortype key|}}
                        <div class="flexrow">
                            <div class="flexrow flex-group-left">
                                {{localize sensortype.label}}
                            </div>
                            <div class="flexrow flex-group-left">
                                <label for="actor.system.sensors.types.{{key}}.range">{{localize 'OD6S.RANGE'}}:</label>
                                <input title="{{localize 'OD6S.RANGE'}}" id="actor.system.sensors.types.{{key}}.range"
                                       name="system.sensors.types.{{key}}.range" data-dtype="{{sensortype.type}}"
                                       value="{{sensortype.range}}">
                            </div>
                            <div class="flexrow flex-group-left">
                                <label for="actor.system.sensors.types.{{key}}.score">{{localize 'OD6S.SCORE'}}:</label>
                                <input title="{{localize 'OD6S.SCORE'}}" id="actor.system.sensors.types.{{key}}.score"
                                       name="system.sensors.types.{{key}}.score" data-dtype="{{sensortype.type}}"
                                       value="{{sensortype.score}}">
                            </div>
                        </div>
                    {{/each}}
                {{/if}}
            {{/if}}
        </div>
    </div>
    <div>
        <ul class="items-list">
            {{#each actor.system.items as |item key|}}
                <li class="items item" data-item-id="{{item.id}}">
                    <div class="grid-2col-attributes">
                        <div class="flexrow flex-group-left"
                             title="{{item.description}}">{{item.name}}</div>
                        <a data-item-id="{{item.id}}"
                           data-type="item"
                           class="item-control item-delete small-font"
                           title="{{localize 'OD6S.DELETE_ITEM'}}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
    <h2>{{localize 'OD6S.ACTOR_FLAGS'}}</h2>
    <ul class="flags-list">
        {{#each actor.flags.od6s as |value key|}}
            <li class="flag" data-flag="{{key}}" data-value="{{value}}">
                <div class="grid grid-2col">
                    <div class="flexrow flex-group-left" title="{{key}}">
                        {{key}}
                    </div>
                    <div class="flexrow flex-group-left">
                        {{value}}
                    </div>
                </div>
            </li>
        {{/each}}
    </ul>
</div>