<div>
    <div class="grid-2col-type">
        <label for="actor.system.vehicle_type.value">{{localize actor.system.vehicle_type.label}}:</label>
        <input title="{{localize actor.system.vehicle_type.label}}" name="system.vehicle_type.value" type="text"
               value="{{actor.system.vehicle_type.value}}" size="12" data-dtype="{{actor.system.vehicle_type.type}}"/>
    </div>
    <div class="grid-4col-vehicle-skill">
        <label for="actor.system.skill.value">{{localize actor.system.skill.label}}:</label>
        <input title="{{localize actor.system.skill.label}}" name="system.skill.value" type="text"
               value="{{actor.system.skill.value}}" size="12" data-dskill="{{actor.system.skill.skill}}"/>
        <label for="actor.system.specialization.value">{{localize actor.system.specialization.label}}:</label>
        <input title="{{localize actor.system.specialization.label}}" name="system.specialization.value" type="text"
               value="{{actor.system.specialization.value}}" size="12"
               data-dspecialization="{{actor.system.specialization.specialization}}"/>
    </div>
    <div class="grid grid-4col">
        <div class="flexrow flex-group-left">
            <label for="actor.system.scale.score">{{localize actor.system.scale.label}}:</label>
            <input title="{{localize actor.system.scale.label}}" name="system.scale.score" type="number" min="0" max="99"
                   value="{{actor.system.scale.score}}" placeholder="0" data-dtype="{{actor.system.scale.type}}"/>
        </div>
        <div class="flexrow flex-group-left">
            <label for="actor.system.altitude.value">{{localize actor.system.altitude.label}}:</label>
            <input title="{{localize actor.system.altitude.label}}" name="system.altitude.value" type="text"
                   value="{{actor.system.altitude.value}}" size="12" data-dtype="{{actor.system.altitude.type}}"/>
        </div>
        <div class="flexrow flex-group-left">
            <label for="actor.system.move.value">{{localize actor.system.move.label}}:</label>
            <input title="{{localize actor.system.move.label}}" name="system.move.value" type="number" min="0" max="99"
                   value="{{actor.system.move.value}}" placeholder="10" data-dtype="{{actor.system.move.type}}"/>
        </div>
        <div class="flexrow flex-group-left">
            <label for="actor.system.crew.value">{{localize actor.system.crew.label}}:</label>
            <input title="{{localize actor.system.crew.label}}" name="system.crew.value" type="number" min="0" max="99"
                   value="{{actor.system.crew.value}}" placeholder="10" data-dtype="{{actor.system.crew.type}}"/>
        </div>
        <div class="flexrow flex-group-left">
            <label for="actor.system.passengers.value">{{localize actor.system.passengers.label}}:</label>
            <input title="{{localize actor.system.passengers.label}}" name="system.passengers.value" type="number" min="0"
                   max="99"
                   value="{{actor.system.passengers.value}}" placeholder="0" data-dtype="{{actor.system.passengers.type}}"/>
        </div>
        <div class="flexrow flex-group-left">
            <label for="actor.system.cargo_capacity.value">{{localize actor.system.cargo_capacity.label}}:</label>
            <input title="{{localize actor.system.cargo_capacity.label}}" name="system.cargo_capacity.value" type="number"
                   min="0" max="99"
                   value="{{actor.system.cargo_capacity.value}}" placeholder="0"
                   data-dtype="{{actor.system.cargo_capacity.type}}"/>
        </div>
        <div class="flexrow flex-group-left">
            <label for="actor.system.length.value">{{localize actor.system.length.label}}:</label>
            <input title="{{localize actor.system.length.label}}" name="system.length.value" type="number" min="0"
                   max="99"
                   value="{{actor.system.length.value}}" placeholder="0" data-dtype="{{actor.system.length.type}}"/>
        </div>
        <div class="flexrow flex-group-left">
            <label for="actor.system.tonnage.value">{{localize actor.system.tonnage.label}}:</label>
            <input title="{{localize actor.system.tonnage.label}}" name="system.tonnage.value" type="number" min="0"
                   max="99"
                   value="{{actor.system.tonnage.value}}" placeholder="0" data-dtype="{{actor.system.tonnage.type}}"/>
        </div>
        {{#if (ne (getCustomField1) "")}}
            {{#if (isCustomFieldUsed 1 actor.type)}}
                <div class="flexrow flex-group-center">
                    <label for="actor.system.custom1.value">{{getCustomField1Short}}:</label>
                    <input title="{{getCustomField1Short}}" name="system.custom1.value" type="{{getCustomField1Type}}"
                           value="{{actor.system.custom1.value}}" data-dtype="{{getCustomField1FType}}"
                        {{#if (eq (getCustomField1Type) "number") }}
                           min="0" max="9999" placeholder="0"
                        {{/if}}/>
                </div>
            {{/if}}
        {{/if}}
        {{#if (ne (getCustomField2) "")}}
            {{#if (isCustomFieldUsed 2 actor.type)}}
                <div class="flexrow flex-group-center">
                    <label for="actor.system.custom2.value">{{getCustomField2Short}}:</label>
                    <input title="{{getCustomField2Short}}" name="system.custom2.value" type="{{getCustomField2Type}}"
                           value="{{actor.system.custom2.value}}" data-dtype="{{getCustomField2FType}}"
                        {{#if (eq (getCustomField2Type) "number") }}
                           min="0" max="9999" placeholder="0"
                        {{/if}}/>
                </div>
            {{/if}}
        {{/if}}
        {{#if (ne (getCustomField3) "")}}
            {{#if (isCustomFieldUsed 3 actor.type)}}
                <div class="flexrow flex-group-center">
                    <label for="actor.system.custom3.value">{{getCustomField3Short}}:</label>
                    <input title="{{getCustomField3Short}}" name="system.custom3.value" type="{{getCustomField3Type}}"
                           value="{{actor.system.custom3.value}}" data-dtype="{{getCustomField3FType}}"
                        {{#if (eq (getCustomField3Type) "number") }}
                           min="0" max="9999" placeholder="0"
                        {{/if}}/>
                </div>
            {{/if}}
        {{/if}}
        {{#if (ne (getCustomField4) "")}}
            {{#if (isCustomFieldUsed 4 actor.type)}}
                <div class="flexrow flex-group-center">
                    <label for="actor.system.custom4.value">{{getCustomField4Short}}:</label>
                    <input title="{{getCustomField4Short}}" name="system.custom4.value" type="{{getCustomField4Type}}"
                           value="{{actor.system.custom4.value}}" data-dtype="{{getCustomField4FType}}"
                        {{#if (eq (getCustomField4Type) "number") }}
                           min="0" max="9999" placeholder="0"
                        {{/if}}/>
                </div>
            {{/if}}
        {{/if}}
        <div class="flexrow flex-group-left">
            <label for="actor.system.cover.value">{{localize "OD6S.COVER"}}</label>
            <select name="system.cover.value" id="actor.system.cover.value" style="width: 70px;">
                {{#select actor.system.cover.value}}
                    {{#each (getCover "OD6S.COVER") as |cover key|}}
                        <option value="{{key}}" title="{{localize (concat key "_DESCRIPTION")}}"
                                {{#if (eq key cover)}}selected{{/if}}>
                            {{localize key}}
                        </option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="flexrow flex-group-left">
            <label for="actor.system.damage.value">{{localize 'OD6S.DAMAGE'}}:</label>
            <select name="system.damage.value" id="actor.system.damage.value" style="width: 70px;">
                {{#select actor.system.damage.value}}
                    {{#each (getVehicleDamageLevels) as |level key|}}
                        <option value="{{ key }}">
                            {{localize key}}
                        </option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    {{#if (isGM)}}
    <div class="flexrow flex-group-left">
        <label title="{{localize 'OD6S.EMBEDDED_PILOT_DESCRIPTION'}}"
               for="actor.system.embedded_pilot.value">{{localize actor.system.embedded_pilot.label}}:</label>
        <input title="{{localize 'OD6S.EMBEDDED_PILOT_DESCRIPTION'}}"
               id="actor.system.embedded_pilot.value" name="system.embedded_pilot.value" type="checkbox"
               data-dtype="Boolean" {{checked actor.system.embedded_pilot.value}}/>
    </div>
    {{/if}}
        <div class="flexrow flex-group-left sheetmode">
            <label for="actor.system.sheetmode.value">{{localize 'OD6S.SHEETMODE'}}:</label>
            <select name="system.sheetmode.value" id="actor.system.sheetmode.value" style="width: 70px;">
                {{#select actor.system.sheetmode.value}}
                    <option value="normal">{{localize 'OD6S.SHEETMODE_NORMAL'}}</option>
                    <option value="freeedit">{{localize 'OD6S.SHEETMODE_FREEDIT'}}</option>
                {{/select}}
            </select>
        </div>
    </div>
</div>